<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Confirmation</title>
</head>
<body>
    <div style="width:600px;margin-right:auto;background-color:#ffffff;border:1px solid #e9edf0;border-radius:2px;padding:25px;font-size:'Google Sans';font-size:14px;">  
        <p style="margin-top:0;">Hello,</p>
        <p>Your secret code is</p>
        <div style="display:inline-block;background-color:#1A91FC;padding: 2px 5px;border-radius:2px;color:#ffffff;">{$hash}</div>
        <p style="margin-bottom:0;">Thank you,</p>
        <p style="margin:0;">Yakobium</p>
    </div>
</body>
</html>