<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Confirmation</title>
    <style>
        @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
        @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_bZF3gnD_vx3rCs.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
        @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gnD_vx3rCs.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
        @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_c5H3gnD_vx3rCs.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
        @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 900;
        src: local('Montserrat Black'), local('Montserrat-Black'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_epG3gnD_vx3rCs.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
    </style>
</head>
<body>
<div style="font-family: 'Montserrat', sans-serif; margin: 0;">
    <div style="height: 85px;">
        <table style="table-layout: fixed; border-collapse: separate; border-spacing: 0;">
            <tr>
                <td style="width: 85px; padding: 0; margin: 0;"><img style="width: 32px; height: 32px; margin-left: 27px;" src="http://verify.yakobium.com/img/yakobium-logo-black.png"></td>
                <td style="padding: 0; margin: 0;"><h6 style="text-transform: uppercase; letter-spacing: 7px; font-size: 12px; font-weight: 800; margin: 0; line-height: 85px; vertical-align: middle;">Yakobium</h6></td>
            </tr>
        </table>
    </div>
    <div style="background-color: #fbfbfb; padding-top: 30px; padding-bottom: 30px;">
        <table style="width: 565px; table-layout: fixed; border-collapse: separate; border-spacing: 0;">
            <tr>
                <td style="width: 85px; padding: 0; margin: 0;"></td>
                <td style="padding: 0; margin: 0;">
                    <h1 style="font-size: 30px; font-weight: 400; margin: 0 0 30px 0;">Unique Verification Code</h1>
                    <p style="font-family: 'Helvetica Neue', sans-serif; color: #666666; font-size: 12px; line-height: 15px; margin: 15px 0;">Someone has requested to verify Yakobium Light Object / Sculpture ownership thru verify.yakobium.com site for the object with serial number {$serial}.</p>
                    <p style="font-family: 'Helvetica Neue', sans-serif; color: #666666; font-size: 12px; line-height: 15px; margin: 15px 0;">The owner’s verification is usually used when a buyer wants to check whether the seller is the rightful owner of the offered object. The buyer has already used the objects serial number to verify the object authenticity. If you are selling your Yakobium Light Object/Sculpture and you are in contact with a buyer, the buyer expects to get the code below.</p>
                    <h2 style="font-size: 12px; line-height: 20px; font-weight: 900; margin: 0;">Unique Verification Code:</h2>
                    <h3 style="font-size: 16px; font-weight: 400; line-height: 20px; margin: 0;">{$hash}</h3>
                </td>
            </tr>
        </table>
    </div>
    <div class="footer">
        <table style="table-layout: fixed; border-collapse: separate; border-spacing: 0;">
            <tr>
                <td style="width: 85px; padding: 0; margin: 0;"></td>
                <td style="padding: 0; margin: 0;">
                    <p style="color: #707070; margin: 16px 0; font-family: 'Helvetica Neue', sans-serif; color:font-size: 11px; line-height: 15px;">Need help? Let us know at <a style="color: #C5AE91; text-decoration: none;" href="mailto:verify@yakobium.com">verify@yakobium.com</a>. We will get back to you ASAP.</p>
                </td>
            </tr>
        </table>   
    </div>
</div>
</body>
</html>