parameters:

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days


services:
	router: App\RouterFactory::createRouter

database:
	dsn: 'mysql:host=127.0.0.1;dbname=yakobium'
	user: root
	password: root

mail:
	smtp: true
	host: smtp.gmail.com
	secure: ssl
	username: 'lukas.konarik@gmail.com'
	password: 'kokoska007'