parameters:
    mailing:
        from: 'robot@yakobium.com'
        requests:
            limit: 3
            timeout: '+1 hour'
    google:
        ua: 'UA-117584625-1'


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	debugger: true
	expiration: 14 days

tracy:
	email: 'lukas@konarik.info'
	netteMailer: true

services:
	router: App\RouterFactory::createRouter

database:
	dsn: 'mysql:host=127.0.0.1;dbname=yakobium'
	user: root
	password: root
