@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,800,900');

:root {
    --white: #fff;
    --silver: #bbb;
    --athens-gray: #e9edf0;
    --gallery: #eee;
    --mine-shaft: #333;
    --science-blue: #0077e2;
    --dodger-blue: #1A91FC;
    --mantis: #97cd6e;
    --torch-red: #EB0026;

    --input-border-color: var(--athens-gray);
    --input-text-color: var(--mine-shaft);
    --input-placeholder-color: var(--gallery);

    --button-bg-color: var(--science-blue);
    --button-hover-bg-color: var(--dodger-blue);
    --button-text-color: var(--white);

    --section-border-color: var(--athens-gray);
    --section-p-color: var(--silver);

    --footer-bg-color: var(--mine-shaft);
    --footer-text-color: var(--white);

    --success-color: var(--mantis);
    --failure-color: var(--torch-red);
}

* {
    outline: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-rows: 70px auto 70px;
    height: 100vh;
}

header {
    display: flex;
    max-height: 120px;
    align-items: center;
}

header img {
    width: 32px;
    height: 32px;
    margin-left: 25px;
}

main {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

main h1, main h2, main h3 {
    text-align: center;
    margin-top: 0;
}

main h1 {
    margin: 50px 0 30px;
}
main h2 {
    font-size: 22px;
    font-weight: 300;
}
main h3 {
    font-size: 12px;
    font-weight: 400;
}
main h3.valid {
    color: var(--success-color);
}
main h3.invalid {
    color: var(--failure-color);
    font-weight: 600;
}
main h5,
main h5 + p {
    text-align: center;
    font-size: 12px;
}
main h5 {
    text-transform: uppercase;
}

section {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--section-border-color);
    border-radius: 2px;
    padding: 30px;
    margin-top: 30px;
}

section h4 {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
}

section p {
    font-size: 11px;
    color: var(--section-p-color);
}

form dl {
    margin: 0;
}
form dd {
    margin-left: 0;
}
form dd:last-of-type {
    display: flex;
    justify-content: flex-end;
}

form label {
    text-transform: uppercase;
    color: #aaa;
    font-size: 8px;
    font-weight: 600;
    letter-spacing: 0.25px;
}

form input[type='text'] {
    padding: 8px;
    border-radius: 2px;
    border: 1px solid var(--input-border-color);
    color: var(--input-text-color);
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 12px;
    width: 100%;
}
form input[type='text']::placeholder {
    color: var(--input-placeholder-color);
}

form input[type='submit'] {
    border-radius: 2px;
    background-color: var(--button-bg-color);
    font-size: 10px;
    color: var(--button-text-color);
    border: 0;
    padding: 10px 15px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

form input[type='submit']:hover {
    background-color: var(--button-hover-bg-color);
}

.success {
    color: var(--success-color);
}

footer {
    background-color: var(--footer-bg-color);
    font-size: 13px;
    color: var(--footer-text-color);
    max-height: 70px;
    display: flex;
    align-items: center;
}
footer p {
    width: 1200px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}